
<div class="w3-container">
  <div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-animate-left">
      <header class="w3-container w3-teal"> 
        <span onclick="document.getElementById('id01').style.display='none'" 
        class="w3-button w3-display-topright">&times;</span>
        <h2>Modal Header</h2>
      </header>
      <div class="w3-container">
        <p id="notice"><%= notice %></p>
		<p>
		  <strong>Post:</strong>
		  <%= @picture.post_id %>
		</p>
		<p>
		  <strong>Image:</strong>
		  <%= image_tag @picture.image.url, style: "width: 400px; height: 250px; " %>
		</p>
		<%= link_to 'Back', pictures_path %>
		<%#= link_to 'Edit', edit_picture_path(@picture) %>	
      </div>
      <footer class="w3-container w3-teal">
        <p>Modal Footer</p>
      </footer>
    </div>
  </div>
</div>